div {
  color: black;
}
div span {
  color: black;
}
ul li {
  color: black;
}
.pro_info {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.price {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
ul {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
}
ul li {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
}
.buy_count {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.buy_count .mui-numbox {
  height: 30px;
  margin-bottom: 5px;
}
.btns {
  padding: 10px;
  height: 50px;
  width: 100%;
}
.btns a {
  color: black;
  display: inline-block;
}
.btns a:nth-child(1) {
  font-size: 18px;
  margin-top: 8px;
}
.btns .add_cart {
  width: 40%;
  background-color: #6641e2;
  margin-left: 15px;
  color: white;
}
.btns .lima_buy {
  float: right;
  width: 40%;
  background-color: #007aff;
  color: white;
  margin-right: 5px;
}
.foot {
  height: 50px;
}
